@import './MainMenu.css';

* {
  box-sizing: border-box;
}

.dish-img {
  border: 5px solid black;
}

.dish-img.true {
  border: 5px solid green;
}

.dish-img.false {
  border: 5px solid red;
}

.question {
  display: none;
}

.question.active {
  display: block;
}

.timeline {
  width: 100%;
  height: 10px;
  border: 1px solid black;
}

.timer {
  width: 0%;
  height: 100%;
  background-color: black;
  transition: 5s linear;
}

.timer.active {
  animation: timer 15s linear both;
}

@keyframes timer {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
