body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

#cookBook {
    width: 90%;
    max-width: 1900px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchSection {
    background-color: rgba(230, 230, 230, 0.76);
    width: 100%;
    height: 150px;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.inputWrapper {
    display: flex;
}

#recipeSection {
    background-color: rgba(230, 230, 230, 0.76);
    width: 100%;
    height: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.tagLabel {
    background-color: rgb(255, 255, 255);
    width: 150px;
    height: 30px;
}

.recipeCard {
    background-color: rgb(224, 224, 224);
    width: 31%;
    height: 50%;
    text-align: center;
    /* padding: 12px; */
    /* border-radius: 5px; */
    margin: 1%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* .searchSection .searchField {
    /* float: right; */

.searchSection button:hover {
    background: #ccc;
}

.selectButton {
    float: left;
    margin-top: 3px;
    margin-bottom: 3px !important;
}

.cardTitle {
    /* width: 100%; */
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    /* margin: 5px auto 5px auto; */
    font-size: 20px;
    font-weight: bold;
}

.cardPhoto {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    /* padding: 10 px; */
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    background-position: center center;
}

.wrapper {
    height: 100%;
    width: 100%;
}

.cardIngredients {
    width: 100%;
    text-align: center;
    padding: 1px;
    border-radius: 5px;
    margin: 1px auto 1px auto;
}

h4 {
    padding: 0%;
    margin: 0%;
}