body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

#swquiz-app {
    width: 100%;
    max-width: 1900px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchSection {
    background-color: rgba(230, 230, 230, 0.76);
    width: 100%;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
}

.searchDescription {
    background-color: rgba(230, 230, 230, 0.76);
    width: 100%;
    text-align: right;
    padding: 10px;
    font-size: 14px;
}

.inputWrapper {
    display: flex;
}

#recipeSection {
    background-color: rgba(230, 230, 230, 0.76);
    width: 100%;
    height: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#tags {
    display: flex;
}

.tagLabel {
    background-color: rgb(165, 165, 165);
    padding: 5px 10px 5px 10px;
    margin: 15px 0px 15px 15px;
    border-radius: 5px;
    border: 1px solid grey;
}

.recipeCard {
    background-color: rgb(224, 224, 224);
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 1%;
}

.wrapper {
    height: 100%;
    width: 31%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: currentColor;
}

.searchSection button:hover {
    background: #ccc;
}

.selectButton {
    float: left;
    margin-top: 3px;
    margin-bottom: 3px !important;
}

.cardTitle {
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    font-size: 2vh;
    font-weight: bold;
}

.cardPhoto {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-size: cover;
    height: 35%;
    width: 100%;
    background-position: center center;
}

.cardIngredients {
    width: 100%;
    text-align: center;
    padding: 1px;
    border-radius: 5px;
    margin: 1px auto 1px auto;
}

h4 {
    padding: 0%;
    margin: 0%;
    font-size: 2vh;
}

#ingredient {
    width: 100%;
}

#title {
    background-color: rgba(230, 230, 230, 0.76);
    width: 100%;
    height: 10%;
    padding: 50px;
    text-align: center;
}