.menu {
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.logo {
    align-self: center;
}

.navigationBox {
    position: absolute;
    width: 100%;
    top: 110%;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: opacity 0.3s ease-in-out;
    opacity: 1
}

.navigationBoxHidden {
    opacity: 0;
    z-index: -100;
}

.navigationList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
    width: 100%;
}

.navigationList li {
    padding: 0.5rem 0;
    display: block;
    cursor: pointer;
}

.search {
    display: flex;
    justify-content: space-around;
    margin: 0.5rem 0;
}

.backdrop {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: inherit;
    top: 0;
    z-index: -100;
    opacity: 0;
}

.modal {
    width: calc(100% - 4rem);
    height: max-content;
    margin: 4rem 2rem;
    background-color: #fff;
}

@media (min-width: 1000px) {

    .menu {
        justify-content: space-between;
    }

    .navigationBtn {
        display: none
    }

    .navigationBox {
        position: static;
        flex-direction: row;
        align-items: center;
        width: auto;
    }
    
    .navigationBoxHidden {
        opacity: 1;
        z-index: 1;
    }
    
    .navigationList {
        display: flex;
    }
    
    .navigationList li {
        padding: 0 1rem;
    }
    
    .search {
        display: flex;
        justify-content: space-around;
        margin: 0;
    }
}