@import './GlobalStyles.css';

.menu {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    position: relative;
    background-color: #fff;
    min-height: max-content;
}

.logo {
    align-self: center;
    font-size: 1.5rem;
    margin-left: 0
}

.logo a {
    color: var(--mainColor) !important;
    font-weight: bold;
}

.navigationBox {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
    background-color: #fff;
    margin: 0;
    padding: 1rem 0;
}

.navigationBoxHidden {
    opacity: 0;
    z-index: -100;
}

.navigationList {
    list-style-type: none;
    padding: 0;
    margin: 0 !important;
    text-align: center;
    width: 100% !important;
}

.navigationList li {
    padding: 0.8rem 0;
    display: block;
    cursor: pointer;
    font-size: 1rem;
}

.search {
    display: flex;
    justify-content: space-around;
    margin: 0.5rem 0;
}

.backdrop {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -100;
    opacity: 0;
}

.modal {
    height: calc(100vh - 4rem);
    margin: 3rem auto;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 95%;
}

.modal button {
    align-self: flex-end;
    margin: 1rem;
}

.modal section {
    overflow-y: scroll;
    box-sizing: border-box;
}

.modal section h2, p {
    text-align: center;
    pointer-events: none;
}

.modal article {
    display: flex;
    flex-direction: column-reverse;
    border-bottom: 1px solid black;
    padding-bottom: 2rem;
}

.modal article:last-child {
    border-bottom: none;
}

.modal article img {
    object-fit: cover;
    flex: 1;
    pointer-events: none;
}

form {
    position: static
}

.tooltip {
    position: absolute;
    top: 70%;
    background-color: rgba(255, 0, 0, 0.349);
    padding: 0.3rem 0.5rem;
    border-radius: 0.5rem;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.tooltip.active {
    opacity: 1;
}

@media (min-width: 600px) {

    .modal button {
        margin-right: 1rem;
    }

    .modal section {
        display: grid;
        grid-template-columns: repeat(3, calc(100% / 3));
        grid-template-rows: 4rem repeat(3, 20rem);
    }

    .modal h2 {
        grid-column: span 3;
        margin-left: 1rem;
    }

    .modal article {
        border: none;
        padding: 1rem;
        box-sizing: border-box;
    }

    .modal p {
        text-align: center;
    }
    
}

@media (min-width: 1200px) {

    .menu {
        justify-content: space-between;
    }

    .navigationBtn {
        display: none
    }

    .navigationBox {
        position: static;
        flex-direction: row;
        align-items: center;
        width: auto;
    }
    
    .navigationBoxHidden {
        opacity: 1;
        z-index: 1;
    }
    
    .navigationList {
        display: flex;
    }
    
    .navigationList li {
        padding: 0 0.2rem;
        font-size: 1rem;
    }
    
    .search {
        display: flex;
        justify-content: space-around;
        margin: 0;
    }

    .modal section {
        grid-template-rows: 4rem repeat(3, 25rem);
    }

    .modal article {
        height: 25rem;
    }
}