*{
    margin:0 auto;
    padding:0;
}
#mainContainer{
    width:100%;
    clear: both;
    position: absolute;
}
#ingredientsBox{
    margin-top: 10vh;
    width:100%;
    height:90vh;
    background-color: gray;
}
.ingredientsBoxLeft, .ingredientsBoxRight{
    padding-top: .5%;
    text-align: center;
    min-height:94%;
    width:48%;
    margin:1%;
    float: left;
    background-color:white;
    display: flex;
    align-items: center;
    justify-content: center;
}
h3{
    font-size: 5vh;
}
#dishName{
    margin: 1vh;
    width: 25vh;
    height: 2.3vh;
    font-size: 1.9vh;
}
.dish li{
    list-style-type:none;
}
.dish li button{
    min-width: 25vh;
    height: 4vh;
    padding: 1vh;
    background: none;
    border:none;
    font-size: 1.9vh;
    border-bottom: 1px solid black;
}
ul.ingredients, .shoppinglist{
    margin-top: 1.7vh;
}
.ingredients li, .shoppinglist li{
    list-style-type:none;
    min-width: 50vh;
    height: 3vh;
    padding-top:.7vh;

}
.ingredients li button, .shoppinglist li button{
    background: none;
    border:none;
    float: right;
    width:3vh;
    height: 3vh;
    
}

